{
    "env": {
      "browser": true,
      "es2021": true,
      "node": true
    },
    "extends": [
      "react-app",
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      },
      "ecmaVersion": 12,
      "sourceType": "module"
    },
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint",
      "prettier"
    ],
    "rules": {
      "prettier/prettier": [
        "error", {
          "endOfLine": "auto"
        }
      ],
      "no-unused-expressions": [
        "error",
        {
          "allowShortCircuit": true,
          "allowTernary": true,
          "allowTaggedTemplates": true
        }
      ],
      "no-use-before-define": ["off"],
      "react/jsx-one-expression-per-line": ["off"],
      "react/jsx-props-no-spreading": ["off"],
      "react/button-has-type": ["off"],
      "react/require-default-props": ["off"],
      "@typescript-eslint/no-unused-vars": ["off"],
      "react/jsx-filename-extension": [
        2,
        { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
      ]
    }
  }